
services:
  fitsnack-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fitsnack-app
    ports:
      - "4321:4321"
    expose:
      - "4321"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - dokploy-network

networks:
  dokploy-network:
    driver: bridge

