---
import snackImage from '../../assets/snack-removebg-preview.png';
---

<section id="hero" class="section hero-section">
  <div class="section-content">
    <div class="hero-image">
      <img src={snackImage.src} alt="FitSnack" />
    </div>
    <h1 class="hero-title">FitSnack Co.</h1>
    <p class="hero-slogan">Snacks saludables para un estilo de vida activo</p>
  </div>
</section>

