---
---

<section id="target" class="section">
  <div class="section-content">
    <h2 class="section-title">Mercado Objetivo</h2>
    <div class="target-content">
      <p class="target-text">
        El mercado de snacks saludables está en crecimiento debido al aumento de la conciencia sobre la alimentación sana. Los consumidores buscan productos prácticos, con ingredientes naturales y sin aditivos artificiales. Bogotá ofrece un entorno urbano ideal para introducir estos productos en tiendas, gimnasios y oficinas.
      </p>
      <h2 class="section-title">Nuestro publico Elegido</h2>
      <p class="target-text">Jóvenes profesionales (20–35 años).</p>
      <p class="target-text">Personas fitness y deportistas.</p>
      <p class="target-text">Padres jóvenes preocupados por la nutrición infantil.</p>
    </div>
  </div>
</section>

