---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Offer from '../components/sections/Offer.astro';
import TargetMarket from '../components/sections/TargetMarket.astro';
import Products from '../components/sections/Products.astro';
import Preorder from '../components/sections/Preorder.astro';
---

<Layout>
	<Navbar />
	<div class="fullpage-container">
		<Hero />
		<About />
		<Offer />
		<TargetMarket />
		<Products />
		<Preorder />
	</div>
	<Footer />
</Layout>
